@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #dae9f3;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.grid-cols {
  @apply grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-6;
}
.card-container {
  @apply flex flex-col gap-0 bg-white items-center rounded-lg  p-5;
}
